<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>User info</title>
</head>
<div>
    <table border="1" cellspacing="0" cellpadding="3" style="text-align: center; vertical-align: middle;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Login</th>
            <th>Role</th>
        </tr>
        <tr>
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.lastname}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.login}">...</td>
            <td th:utext="${user.roles}">...</td>
        </tr>
    </table>
</div>
<a href=/logout">Logout</a>
</form>
</body>
</html>